---
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
import '../styles/global.css'

interface Props {
  title?: string
}

const { title = 'Tim Dorr for Georgia' } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex min-h-screen flex-col">
    <Navigation />
    <slot />
    <Footer class="mt-auto" />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }
</style>
